.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.abc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.goal {
    flex: 1 0 16.66%;
    box-sizing: border-box;
    padding-top: 10px;
    text-align: center;
    padding: 10px;
    margin: 8px;
}

.goal img {
    width: 100%;
    height: auto;

}

h2 {
    margin-top: 10px;
    font-size: 16px;
    color: #333;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
}

h1 {
    margin: 0;
}

nav button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
    padding: 20px;
    align-items: center;
}

.goal {
    height: auto;
    width: auto;
    background-color: #eaeaea;
    text-align: center;
    overflow: hidden;
    border-radius: 30px;
    position: relative;

    transition: transform 0.3s ease;
}

.goal img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    transition: opacity 100.90s ease;
}

.goal:hover {
    transform: scale(1.05);
}

.goal:hover img {
    opacity: 0.3;
    /* Reduce opacity to avoid complete disappearance */
}

.goal:hover::after {
    content: "";
    background-image: url('images/no-poverty.gif');
    /* Make sure the path is correct */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    opacity: 1;
    z-index: -1;
    /* Ensure the image stays behind other content */
    transition: opacity 0.3s ease;
}


#searchBar {
    border-radius: 10px;
    padding: 10px;
    padding-right: 20px;
    justify-items: center;
    width: 50%;
}

#signInButton {
    border-radius: 18px;
}

#signUpButton {
    border-radius: 18px;
}
.chat-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    font-size: 24px;
    transition: background-color 0.3s;
}

.chat-button:hover {
    background-color: #0056b3;
}

.chat-icon {
    width: 30px;
    height: 30px;
}
